body{
  height: 100%;
    margin: 0;

    background-color: rgb(242, 242, 242);
}

#URichan{
  margin-top: 10em;
margin-left: 5em;
border-radius: 50%;
}





#form{
  width: 400px;
  height: 200px;
position: absolute;
left: 500px;
top: 270px



}
textarea{

  width: 300px;
  height: 100px;
}
#textarea{
  margin-top: 200px;
}

.button{
margin-top: 150px;
  margin-left: 250px;
}
#balloon-4-bottom-right {
	position: absolute;;
  top: 250px;
  left: 500px;
	display: inline-block;
	padding: 0 15px;
	width: 400px;
	min-width: 115px;
	height: 100px;
	color: black;
	line-height: 70px;
	text-align: center;
	background: rgb(255, 255, 255);
	border-radius: 60%;

  margin-left: 50px;
}
#balloon-4-bottom-right:before {
	content: "";
	position: absolute;
	bottom: -1px; right: 20px;
	margin-left: 0;
	display: block;
	width: 30px;
	height: 30px;
	background: rgb(255, 255, 255);
	border-radius: 30px 0 30px 0;
	z-index: -1;
}
#balloon-4-bottom-right:after {
	content: "";
	position: absolute;
	bottom: -10px; right: 30px;
	margin-left: 0;
	display: block;
	width: 40px;
	height: 30px;
	background: rgb(242, 242, 242);
	border-radius: 30px 0 30px 0;
	z-index: -1;
	-webkit-transform: rotate(-30deg);
	   -moz-transform: rotate(-30deg);
	    -ms-transform: rotate(-30deg);
	     -o-transform: rotate(-30deg);
	        transform: rotate(-30deg);
}
#URi{

}
